$primary-color-dark: #3c8067;
$primary-color-light: #f2ebe3;
$neutral-colot-dark: #1c232b;
$neutral-color-medium-dark: #6c7289;
$font-primary: "Monserrat", sans-serif;
$font-secondary: "Fraunces", serif;
