@use "../core/variables" as variable;

.card-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: variable.$neutral-color-medium-dark;
  font-family: variable.$font-primary;
  min-width: 320px;
  background-color: #ffff;
  padding-left: 10px;
  border-radius: 2.5rem;

  &__image {
    max-inline-size: 100%;
    block-size: auto;
  }

  &category {
    justify-content: left;
  }

  &__brand {
    flex: auto;
    color: variable.$neutral-color-dark;
    font-family: variable.$font-secondary;
  }
}
